@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration:none;
  border:none;
  outline:none;
  box-sizing:border-box;
  list-style-type :none;
}


body{
  min-height :100vh;
  font-family : var(--font-family)
}

:root {
  --padding:40px;
  --font-family : 'poppins', san-serif;
  --color30 : #001C55;
  --color60 : white;
  --color10 : #00072D;
}

.header{
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding : var(--padding);
  font-family : var(--font-family);
  padding-bottom : 80px;
  font-weight :bold;
}

.header nav ul{
  display: flex;
  justify-content:space-between;
  align-items:center;
}

.header li a{
 padding : 10px 20px;
 color : var(--color30);
 border : 2px solid var(--color30);
 border-radius : 5px;
 font-weight : bold;
}

.header ul li:last-child {
  margin-left :30px;
  background-color : var(--color10);
  height : inherit;
}

.header ul li:last-child a {
  background-color : var(--color10);
  color :white;
  border-color : var(--color10)
}



.header{
/*   box-shadow : 1px 1px 2px var(--color30); */
  color : var(--color30);
  position :relative;
}

.header::after{
  content : "";
  position :absolute;
  width : calc( 100% - (2 * var(--padding)));
  height:2px;
  background : var(--color10);
  bottom :0;
  left: 0;
  margin : 0  var(--padding);
  border-radius :5px;
}

.importfile{
  display :flex;
  justify-content :center;
  align-items :center;
  border: 1px solid var(--color30);
  min-height: 70vh;
/*   background :red; */
  margin : 300px var(--padding);
  border-radius : 5px;
  color : var(--color30)
}

.importfile i {
    font-size : 2.5rem;
    color : var(--color30);
    margin-right :10px;
}

.importfile span{
  font-size : 1.5rem;
}

.importfile div {
  display :flex;
  justify-content :space-between;
  align-items :center;
}

footer{
  background : var(--color10);
  color : var(--color60);
  padding : var(--padding);
}


section.table{
  display : flex;
  justify-content :start;
  align-items :center;
  padding : 100px var(--padding);
  display:none;
}

section.table table{
  width: 100%;
}

table, th, td {
 border : 2px solid var(--color30);
  border-collapse : collapse;
  text-align :center;
  color : var(--color30)
}

th, td{
  padding : 0 10px;
}

th{
  background-color : var(--color30);
  color: var(--color60);
  font-size : 1.1rem;
  text-transform : uppercase;
  letter-spacing : 2px;
}

tbody tr:nth-child(even){
  background-color : var(--color10);
  color : var(--color60);
}


tbody tr:nth-child(even) td{
  color : var(--color60)
}

section.action {
  display :flex;
  justify-content :center;
  align-items :center;
  margin : var(--padding);
  display:none;
}

section.action .wrapper{
  display :flex;
  justify-content :space-between;
  align-items :center;
  width :60%;
  background: var(--color30);
  color : var(--color60);
  padding : 10px 50px;
  border-radius : 20px;
}

section.action select{
  font-family : var(--font-family);
  background : var(--color60);
  border-radius : 10px;
  padding : 4px 10px;
}
